.red-blue {
    background: linear-gradient(to right, red, blue);
    color: white;
    border: none;
}

.uau {
    background: linear-gradient(to bottom right, black, rgb(0, 0, 165));
}

.fonte{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
